
.homemenu{

  position: relative;
  bottom: 70px;
  height:70px;

}

.homemenu-container {
  display: flex;
  align-items: stretch;
  /*justify-content:*/

  overflow: scroll;
  -ms-overflow-style: none;


  width: 100vw;
  box-sizing: border-box;
}

.homemenu-container::-webkit-scrollbar {
  display: none;
}