
:root{
  --color-blue: #4F98CD;
  --color-black: #3C3838;
  --color-red: #C30000;
  --color-darkred: #7E1212;
  --color-gray: #F5F5F5;
  --color-white: white;
}

body {
  margin: 0;
  font-family: 'Alef', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
