
:root{
  --color-green: #34a50c;
  --color-blue: #4F98CD;
  --color-black: #3C3838;
  --color-red: #C30000;
  --color-darkred: #7E1212;
  --color-softred: #C86767;
  --color-gray: #F5F5F5;
  --color-white: white;
  --box-uppershadow: 0px -8px 8px 0px rgba(0, 0, 0, 0.2);
  --titleHeader-field-height: 60px;
}

body {
  margin: 0;
  font-family: 'Alef', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

