.subHeader {
  display: flex;
  /*align-items: center;*/
  justify-content: space-evenly;
  width: 100%;
  height: 200px;
}

.subHeader_goalGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}

.subHeader_goalGroup_title {
  font-weight: bolder;
}

.subHeader_dropBorder {
  box-sizing: border-box;
  height: 200px;
  width: 150px;
  padding: 7px;
  background-color: var(--color-gray);
  -webkit-mask-box-image: url("/img/icon-goal-drop.svg") stretch;
  mask-border: url("/img/icon-goal-drop.svg") stretch;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
}

.subHeader_drop {
  width: 100%;
  height: 100%;
  position: relative;

  background: black;
  mask-border: url("/img/icon-goal-drop.svg") stretch;
}

.subHeader_dropFill {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--color-darkred);
  z-index: 10;
}

.subHeader_wave {
  width: 200px;
  height: 30px;

  position: absolute;
  top: -10px;

  animation: sineMove 8s linear infinite;
  animation-delay: 0s;

  background: url("/img/img-goal-wave-red.svg") repeat-x ;
  background-size: contain;

  z-index: 5;
}

.subHeader_wave2 {
  background-image: url("/img/img-goal-wave-darkRed.svg");
  animation: sineMove 16s linear infinite;

  top: -15px;
  z-index: 4;
}

@keyframes sineMove {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

.subHeader_percentage {
  position: absolute;
  box-sizing: border-box;
  padding-top: 35px;
  z-index: 15;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  /*background-color: darkgreen;*/
}
